doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      a(href='/') Home
      |  | 
      a(href='/documents/add') Add Document
      |  | 
      a(href='/documents/list') List Documents
  
    block content

    if error
      p(class='error') #{error}

    if notice
      p(class='notice') #{notice}

    if success
      p(class='success') #{success}

