doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      a(href='/') Home
      |  | 
      a(href='/documents/add') Add Document
      |  | 
      a(href='/documents/list') List Documents
      |  | 
      a(href='/documents/advancedsearch') Advanced Search 
      form#searchbar(method='get', action='/documents/search')
        input(type='text', name='q', size='20', placeholder='Search term')
        input(type='submit', value='Search')
  
    block content

    if error
      p(class='error') #{error}

    if notice
      p(class='notice') #{notice}

    if success
      p(class='success') #{success}

